.slide-enter-active[data-v-1c91b49b],.slide-leave-active[data-v-1c91b49b]{transition:transform .3s ease}.slide-enter-from[data-v-1c91b49b],.slide-leave-to[data-v-1c91b49b]{transform:translate(-100%)}
