@import "tailwindcss";
body {
  font-family: "Almarai", sans-serif;
}
/* في src/input.css */
@layer components {
  .text-primary-green {
    color: #9EBF3B;
  }
  
  .text-primary-pink {
    color: #D6A29A;
  }
  
  .bg-primary-green {
    background-color: #9EBF3B;
  }
  
  .bg-primary-pink {
    background-color: #D6A29A;
  }
  
  .border-primary-green {
    border-color: #9EBF3B;
  }
  
  .from-primary-green {
    --tw-gradient-from: #9EBF3B;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(158 191 59 / 0));
  }
  
  .to-primary-pink {
    --tw-gradient-to: #D6A29A;
  }
}