
/* #9ebfeb
#d6a29a */

@import "tailwindcss";

body {
  font-family: "Almarai", sans-serif;
}

:root {

  --color-primary-green: #9EBF3B;
  --color-primary-pink: #D6A29A;
    
  --color-secondary-green: #8AA835;
  --color-secondary-pink: #C49085;
    
  --color-text-primary: #1F2937;
  --color-text-secondary: #6B7280;
  --color-text-light: #9CA3AF;
}

.text-primary-green {
  color:var(--color-primary-green);
}

.text-primary-pink {
  color:var(--color-primary-pink)
}

.bg-primary-green {
  background-color:var(--color-primary-green);
}

.bg-primary-pink {
  background-color: var(--color-primary-pink);
}

.border-primary-green {
  border-color: var(--color-primary-green);
}

.ring-primary-green {
  border-color: var(--color-primary-green);
}

.from-primary-green {
  --tw-gradient-from:var(--color-primary-green);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(158 191 59 / 0));
}

.to-primary-pink {
  --tw-gradient-to: #var(--color-primary-pink);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}

/* حركة الدوران */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}